<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="row">
      <div class="span12">
        <h1>
          Bootblog
        </h1>
      </div>
    </div>

    <%= render partial: 'shared/menu' %>

    <div class="row">
      <div class="span9">
        <%= yield %>
      </div>

      <%= render partial: 'shared/sidebar' %>
    </div>
  </div>

</body>
</html>
